.modal {
    position: absolute;
    margin: 0 auto;
}

.modal-header {
    background-color: #3D3F41;
    color:#FFFF;
}

.table td button {
    align-items: center;
    margin: 0 auto;
}

.modal-header h5 {
    margin: 0 auto;
}

.modal-dialog {
    /* Set the modal's width to 800px */
    width: 800px;
  
    /* Set the modal's height to 600px */
    height: 600px;
}
  
.avatar-img {
    max-width: 100%; /* Make the avatar responsive within its container */
    width: 300px; /* Adjust the width to your desired size */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5%;
    display: block;
    margin: 0 auto; /* Center the avatar horizontally */
    margin-top: 50px;
}

/* Apply background colors to the columns */
.avatar-col {
    background-color: #f2f2f25d; /* Use your desired background color */
    padding: 20px; /* Add some padding for spacing */
}

.user-details-col {
    background-color: #FFFFFF; /* Use your desired background color */
    padding: 20px; /* Add some padding for spacing */
}

/* Adjust the modal header spacing */
.modal-header {
    border-bottom: none; /* Remove the default border at the bottom of the modal header */
}

/* Adjust the modal footer spacing */
.modal-footer {
    border-top: none; /* Remove the default border at the top of the modal footer */
    background-color: #3d3f412f;
}

div.modal-content .userlist_label {
    border: none;
    outline: none;
    width: 220px;
    background-color: #fafafa;
}

.export-button {
    width: 138px;
    height: 46px;
    padding: 5px 10px 5px 16px;
    border-radius: 15px;
    background-color: #FFFFFF;
    background: #3A3B3C;
    border: none;
    text-decoration: none;
}

.export-button a.export-text {
    text-decoration: none;
    color: #A5A8AC
 } 

.export-button i {
    width: 32px;
    height: 33px;
    top: 6px;
    left: 96px;
    font-size: 20px;
    font-weight: 900;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color:#FFFFFF;
}
