/* Filter Link */
.filter-link {
    text-decoration: none;
    color: var(--primary-2, #18328D);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* Active Filter Link */
.filter-link.active-link {
    text-decoration: none;
    color: var(--text-color, #A5A8AC);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#card-body {
    border-radius: 10px;
    border: 1px solid #3D3F41;
    background: #242526;
}

.invi {
    background: var(--card, #242526);
}

/* Listing Avatar */
.listing-avatar {
    border-radius: 50px;
    border: 1px solid var(--text-color, #A5A8AC);
}

/* Listing User Name */
#listing-user-name {
    color: var(--skyblue, #00BDFE);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 0px;
}

/* Listing Icons */
.listing-icons {
    color: #FFF;
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Listing User Position */
#listing-user-position {
    color: var(--text-color, #A5A8AC);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0px;
}

/* Listing Datetime */
#listing-datetime {
    color: #7A7A7A;
    font-family: Inter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Listing Title */
#listing-title {
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    height: 50px;
}

/* Listing Tags */
#listing-tags {
    color: #2152FF;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
}

.clickable-link {
    cursor: pointer;
}
