/* Global Styles */
body {
    background: var(--bg-color, #18191A);
}

#container {
    background-color: #242526;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100px;
    padding: 20px 70px;
    justify-content: center;
    align-items: center;
}

/* Button Styles */
.signintext-btn, .signuptext-btn {
    border-radius: 15px;
    margin: 10px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 13px 40px 14px 40px;
    justify-content: center;
    align-items: center;
}

.signintext-btn, .signintext-btn:hover {
    background: #18328D;
    color: #FFF;
}

.signuptext-btn, .signuptext-btn:hover {
    border: 2px solid #18328D;
    color: #284CC8;
}
